# 12.8 SQLDatabaseToolkit

In [6]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(
    temperature=0.1,
    model="gpt-4o"
)

db = SQLDatabase.from_uri("sqlite:///movies.sqlite")

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    verbose=True,
    handle_parsing_errors=True,
)

agent.invoke("Give me the 5 directors that have the highest grossing films")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: directors, movies
Thought:The tables "directors" and "movies" are available. I should check the schema of these tables to understand their structure and find the relevant columns for the query. This will help me identify how to link directors to their movies and find the highest grossing films.

Action: sql_db_schema
Action Input: "directors, movies"
Observation:
CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/


CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/
Thought:To find the 5 directors with the highest grossing films, I need to join the "directors" and "movies" tables on the "director_id" column from the "movies" table and the "id" column from the "directors" table. Then, I will order the results by the "revenue" column in descending order and limit the results to 5.

Action: sql_db_query_checker
Action Input: "SELECT directors.name, movies.title, movies.revenue FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY movies.revenue DESC LIMIT 5"
Observation: ```sql
SELECT directors.name, movies.title, movies.revenue FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY movies.revenue DESC LIMIT 5
```
Thought:The query is correct, and I can now execute it to find the 5 directors with the highest grossing films.

Action: sql_db_query
Action Input: "SELECT directors.name, movies.title, movies.revenue FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY movies.revenue DESC LIMIT 5"
Observation: [('James Cameron', 'Avatar', 2787965087), ('James Cameron', 'Titanic', 1845034188), ('Joss Whedon', 'The Avengers', 1519557910), ('Colin Trevorrow', 'Jurassic World', 1513528810), ('James Wan', 'Furious 7', 1506249360)]
Thought:I now know the final answer.

Final Answer: The 5 directors with the highest grossing films are:
1. James Cameron with "Avatar" ($2,787,965,087)
2. James Cameron with "Titanic" ($1,845,034,188)
3. Joss Whedon with "The Avengers" ($1,519,557,910)
4. Colin Trevorrow with "Jurassic World" ($1,513,528,810)
5. James Wan with "Furious 7" ($1,506,249,360)

> Finished chain.

{'input': 'Give me the 5 directors that have the highest grossing films',
 'output': 'The 5 directors with the highest grossing films are:\n1. James Cameron with "Avatar" ($2,787,965,087)\n2. James Cameron with "Titanic" ($1,845,034,188)\n3. Joss Whedon with "The Avengers" ($1,519,557,910)\n4. Colin Trevorrow with "Jurassic World" ($1,513,528,810)\n5. James Wan with "Furious 7" ($1,506,249,360)'}

In [9]:
agent.invoke("Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors also include their gross revenue.")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: directors, movies
Thought:The relevant tables for this query are likely "movies" and "directors". I should check the schema of these tables to understand their structure and find the necessary columns for the query.
Action: sql_db_schema
Action Input: "movies, directors"
Observation:
CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/


CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/
Thought:The "movies" table contains the necessary columns for budget, vote_count, revenue, and director_id. The "directors" table contains the director's name and id. I need to join these tables on director_id and id to get the director's name. I will order the results by vote_count descending and budget ascending to find movies with the highest votes and lowest budgets. I will limit the results to 10.

Action: sql_db_query_checker
Action Input:
```sql
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```
Observation: ```sql
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```
Thought:The query is correct. I will now execute it to get the desired results.

Action: sql_db_query
Action Input:
```sql
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```
Observation: Error: (sqlite3.OperationalError) near "```sql
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```": syntax error
[SQL: ```sql
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Thought:It seems there was an error due to the formatting of the SQL query. I will remove the markdown formatting and try executing the query again.

Action: sql_db_query
Action Input:
```sql
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```
Observation: Error: (sqlite3.OperationalError) near "```sql
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```": syntax error
[SQL: ```sql
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Thought:It seems I mistakenly included markdown formatting in the SQL query. I will remove the formatting and execute the query again.

Action: sql_db_query
Action Input:
```
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```
Observation: Error: (sqlite3.OperationalError) near "```
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```": syntax error
[SQL: ```
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Thought:It seems I am still mistakenly including markdown formatting in the SQL query. I will remove the formatting completely and execute the query again.

Action: sql_db_query
Action Input:
SELECT m.title, m.budget, m.vote_count, m.revenue, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
Observation: [('Inception', 160000000, 13752, 825532764, 'Christopher Nolan'), ('The Dark Knight', 185000000, 12002, 1004558444, 'Christopher Nolan'), ('Avatar', 237000000, 11800, 2787965087, 'James Cameron'), ('The Avengers', 220000000, 11776, 1519557910, 'Joss Whedon'), ('Deadpool', 58000000, 10995, 783112979, 'Tim Miller'), ('Interstellar', 165000000, 10867, 675120017, 'Christopher Nolan'), ('Django Unchained', 100000000, 10099, 425368238, 'Quentin Tarantino'), ('Guardians of the Galaxy', 170000000, 9742, 773328629, 'James Gunn'), ('The Hunger Games', 75000000, 9455, 691210692, 'Gary Ross'), ('Mad Max: Fury Road', 150000000, 9427, 378858340, 'George Miller')]
Thought:I now know the final answer.

Final Answer: Here are some movies with the highest votes and lowest budgets, along with their directors and gross revenue:

1. "Inception" directed by Christopher Nolan, Budget: $160,000,000, Votes: 13,752, Revenue: $825,532,764
2. "The Dark Knight" directed by Christopher Nolan, Budget: $185,000,000, Votes: 12,002, Revenue: $1,004,558,444
3. "Avatar" directed by James Cameron, Budget: $237,000,000, Votes: 11,800, Revenue: $2,787,965,087
4. "The Avengers" directed by Joss Whedon, Budget: $220,000,000, Votes: 11,776, Revenue: $1,519,557,910
5. "Deadpool" directed by Tim Miller, Budget: $58,000,000, Votes: 10,995, Revenue: $783,112,979
6. "Interstellar" directed by Christopher Nolan, Budget: $165,000,000, Votes: 10,867, Revenue: $675,120,017
7. "Django Unchained" directed by Quentin Tarantino, Budget: $100,000,000, Votes: 10,099, Revenue: $425,368,238
8. "Guardians of the Galaxy" directed by James Gunn, Budget: $170,000,000, Votes: 9,742, Revenue: $773,328,629
9. "The Hunger Games" directed by Gary Ross, Budget: $75,000,000, Votes: 9,455, Revenue: $691,210,692
10. "Mad Max: Fury Road" directed by George Miller, Budget: $150,000,000, Votes: 9,427, Revenue: $378,858,340

> Finished chain.

{'input': 'Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors also include their gross revenue.',
 'output': 'Here are some movies with the highest votes and lowest budgets, along with their directors and gross revenue:\n\n1. "Inception" directed by Christopher Nolan, Budget: $160,000,000, Votes: 13,752, Revenue: $825,532,764\n2. "The Dark Knight" directed by Christopher Nolan, Budget: $185,000,000, Votes: 12,002, Revenue: $1,004,558,444\n3. "Avatar" directed by James Cameron, Budget: $237,000,000, Votes: 11,800, Revenue: $2,787,965,087\n4. "The Avengers" directed by Joss Whedon, Budget: $220,000,000, Votes: 11,776, Revenue: $1,519,557,910\n5. "Deadpool" directed by Tim Miller, Budget: $58,000,000, Votes: 10,995, Revenue: $783,112,979\n6. "Interstellar" directed by Christopher Nolan, Budget: $165,000,000, Votes: 10,867, Revenue: $675,120,017\n7. "Django Unchained" directed by Quentin Tarantino, Budget: $100,000,000, Votes: 10,099, Revenue: $425,368,238\n8. "Guardians of the Galaxy" directed by James Gunn, Budget: $170,000,000, Votes: 9,742, Revenue: $773,328,629\n9. "The Hunger Games" directed by Gary Ross, Budget: $75,000,000, Votes: 9,455, Revenue: $691,210,692\n10. "Mad Max: Fury Road" directed by George Miller, Budget: $150,000,000, Votes: 9,427, Revenue: $378,858,340'}